* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  body {
    background-color: #f1efef;
  }
  button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #04594e99;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
.link {
  color: #fff;
}
.activeLink {
  background-color: #04594d;
}
.newsLeftFlex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.newLeftDescription {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  a {
    color: #8f9fe0;
  }
}
.newLeftImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    background-image: linear-gradient(transparent, #00000099 30%);
  }
}
.position {
  position: relative;
}
.published {
  color: #fff;
  padding: 5px 10px;
}

.newsFlexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .imageUndefined {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7d7d7;

    img {
      width: 200px;
    }
  }
}
.red {
  width: 300px;

  p {
    padding: 10px;
    background-color: #cb8787ab;
    width: fit-content;
  }
  div {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    span {
      color: #fff;
      padding: 10px;
      font-weight: 700;
    }
  }
  .queryDescription {
    background-color: #fff;
    padding: 5px 10px;
    font-size: 14px;
  }
  .queryAnchor {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    justify-content: flex-end;
    a {
      color: rgb(37, 79, 218);
    }
  }
}
.mainFlex {
  display: flex;
  gap: 10px;
  width: 50%;
  flex-direction: column;
}
.load {
  display: flex;
  gap: 10px;
  flex-direction: column;
  .loadContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    // width: 100%;
    .box1 {
      width: 150px;
      height: 120px;
      background-image: linear-gradient(125deg, #888, #ccc);
      animation: isLoading 2s linear infinite;
    }
    .box2 {
      width: 150px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .div1 {
        width: 100%;
        height: 50px;
        background-image: linear-gradient(125deg, #888, #ccc);
        animation: isLoading 2s linear infinite;
      }
      .div2 {
        width: 80%;
        height: 30px;
        background-image: linear-gradient(125deg, #888, #ccc);
        animation: isLoading 2s linear infinite;
      }
      .div3 {
        width: 100px;
        height: 20px;
        background-image: linear-gradient(125deg, #888, #ccc);
        animation: isLoading 2s linear infinite;
      }
    }
  }
}
.loading {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  .loadingContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .div1 {
      width: 150px;
      height: 30px;

      background-image: linear-gradient(125deg, #888, #ccc);
      animation: isLoading 2s linear infinite;
    }
    .div2 {
      width: 300px;
      height: 300px;
      background-image: linear-gradient(125deg, #888, #ccc);
      animation: isLoading 2s linear infinite;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 100px;
        object-fit: cover;
      }
    }
    .div3 {
      width: 300px;
      height: 70px;
      background-image: linear-gradient(125deg, #888, #ccc);
      animation: isLoading 2s linear infinite;
    }
  }
}
@keyframes isLoading {
  0% {
    background-image: linear-gradient(125deg, #888, #ccc);
  }
  100% {
    background-image: linear-gradient(125deg, #ccc, #888);
  }
}
.categories {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;

  .box {
    width: 80%;

    p:nth-child(1) {
      font-size: 16px;
      font-weight: bold;
    }
    p:nth-child(2) {
      font-size: 12px;
      cursor: pointer;
      color: #04594d;
    }
  }
  div:nth-child(2) {
    border: 1px solid #999;
    width: 20%;
  }
}

.searchWidth {
  background: #ffffff;
  position: absolute;
  top: 100px;
  z-index: 10;
  left: 0;
  margin: 1% 10%;
  border-radius: 10px;
  padding: 2%;
  width: auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.405);
  height: 70vh;
  overflow-y: scroll;

  .ends {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  .flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    .newsLeftFlex {
      width: 300px;
      .newLeftImage {
        display: flex;
        gap: 10px;
        flex-direction: column;
        .position {
          position: relative;
          width: 300px;
          .imageUndefined {
            width: 300px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: #d7d7d7;

            img {
              width: 200px;
            }
          }
          .image {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 5px;
          }
          p {
            width: 93.5%;
            position: absolute;
            border-radius: 0 0 5px 5px;
            bottom: 3px;
            left: 0;
            background-image: linear-gradient(transparent, #00000099 30%);
          }
        }
        .published {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 280px;
          span {
            font-size: 13px;
            color: #1a1a1a;
            display: flex;
            align-items: center;
            gap: 5px;
          }
          a {
            color: #1342ff;
          }
        }
      }
    }
  }
}
