*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f1efef;
}
button:hover{
 opacity: 0.9;
 cursor: pointer;
}
a{
  text-decoration: none;
}
.link{
  color: #fff;
}
.activeLink{
  background-color: #04594d;
}